<h1><%= @list.name %></h1>
<%= link_to 'Add NFT', new_list_bookmark_path(@list), class: 'btn btn-outline-primary' %>
<div class="row">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card" style="height: 200px; width: 200px">
      <%= bookmark.nft.name %>
      <%= image_tag bookmark.nft.ext_url %>
      <%= link_to 'Remove', list_bookmark_path(@list, bookmark), method: :delete, class: 'btn btn-danger' %>
    </div>
<% end %>
</div>
