<div class="container">
<div id="content" class="content p-0">
    <div class="profile-header">
        <div class="profile-header-cover"></div>
        <div class="profile-header-content">
            <div class="profile-header-img mb-4">
                <img src="https://upload.wikimedia.org/wikipedia/en/6/62/Kermit_the_Frog.jpg" class="mb-4" alt="" />
            </div>

            <div class="profile-header-info">
                <p id="username"><%= @user.name %></p>
                <p class="m-b-sm">Kermi the Frog</p>
                <a href="#" class="btn btn-xs btn-primary mb-2">Edit Profile</a>
            </div>
        </div>

        <ul class="profile-header-tab nav nav-tabs">
            <li class="nav-item"><a href="#profile-post" class="nav-link" data-toggle="tab"></a></li>
            <li class="nav-item"><a href="#profile-about" class="nav-link" data-toggle="tab"></a></li>
        </ul>
    </div>
    </div>
</div>
</div>

<div class="container">
  <%= link_to '< Back to NFTS', nfts_path  %>
  <div class="top">
    <p id="username"><%= @user.name %></p>
    <ul>
    <div class="tabs">
      <li>
        <button id="created-nft-button">
          <div id="created-nft-tab" class="tab">
            <i class="fas fa-paint-roller"></i>
            <h5>Created NFT's</h5>
            <h5>(<%= @user.nfts.count %>)</h5>
          </div>
        </button>
      </li>
      <li>
        <button id="created-list-button">
          <div id="created-list-tab" class="tab">
            <i class="fas fa-clipboard-list"></i>
            <h5>Lists</h5>
            <h5>(<%= @user.lists.count %>)</h5>
          </div>
        </li>
      </button>
    </ul>
    </div>
    <div class="tab-content">
      <div id="created-nft-grid">
        <% @nfts.each do |nft| %>
        <div class="nft-card">
          <img id="nft-preview" src="<%= nft.ext_url %>"alt="">
          <div class="nft-info">
            <%= link_to nft_path(nft) do %>
              <h2><%= nft.name %></h2>
            <% end %>
            <div class="desc">
              <p><%= nft.description[0..100] %>(...)</p>
            </div>

          </div>
          <div class="bottom">
            <%= link_to 'Buy NFT', nft_path(nft), class:"btn btn-outline-success" %>
            <div id="pricing">
              <p>❤ <%= rand(0..100) %></p>
              <div class="d-flex">
                <i class="fab fa-ethereum"></i>
                <%= rand(0.1..1).round(3) %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        </div>
        <div id="created-list-grid">
        <% @user.lists.each do |list| %>
        <div class="list-card">
          <img class="list-cover" src="<%= list.nfts[0].ext_url %>"alt="">
          <div class="p-3">
            <%= link_to user_list_path(list.user, list) do %>
              <h5><%= list.name %></h5>
            <% end %>
            <div class="w-100 text-right">
            <p>(<%= list.nfts.size %>) nfts</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      </div>


    </div>
  </div>
