<div class="container">
  <%= link_to '< Back to NFTS', nfts_path %>
  <div class="top">
    <p id="username"><%= @user.name %></p>
    <ul>
    <div class="tabs">
      <li>
        <button id="created-nft-button">
          <div id="created-nft-tab" class="tab">
            <i class="fas fa-paint-roller"></i>
            <h5>Created NFT's</h5>
            <h5>(<%= @user.nfts.count %>)</h5>
          </div>
        </button>
      </li>
      <li>
        <button id="created-list-button">
          <div id="created-list-tab" class="tab">
            <i class="fas fa-clipboard-list"></i>
            <h5>Lists</h5>
            <h5>(<%= @user.lists.count %>)</h5>
          </div>
        </li>
      </button>
    </ul>
    </div>
    <div class="tab-content">
      <div id="created-nft-grid">
        <% @nfts.each do |nft| %>
        <div class="nft-card">
          <img id="nft-preview" src="<%= nft.ext_url %>"alt="">
          <div class="nft-info">
            <%= link_to nft_path(nft) do %>
              <h2><%= nft.name %></h2>
            <% end %>
            <div class="desc">
              <p><%= nft.description[0..100] %>(...)</p>
            </div>

          </div>
          <div class="bottom">
            <%= link_to 'Buy NFT', nft_path(nft), class:"btn btn-outline-secondary" %>
            <div>
              <p>❤ <%= rand(0..100) %></p>
              <div class="d-flex">
                <i class="fab fa-ethereum"></i>
                <%= rand(0.1..1).round(3) %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        </div>
        <div id="created-list-grid">
        <% @user.lists.each do |list| %>
        <div class="list-card">
          <% if list.nfts[0] %>
            <img class="list-cover" src="<%= list.nfts[0].ext_url %>"alt="">
          <% else %>
            <div class="nil-cover"></div>
          <% end %>
          <div class="p-3">
            <%= link_to user_list_path(list.user, list) do %>
              <h5><%= list.name %></h5>
            <% end %>
            <div class="w-100 text-right">
            <p>(<%= list.nfts.size %>) nfts</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      </div>


    </div>
  </div>
