<h1 id="title">All NFT's</h1>

  <div class="row justify-content-center">
    <div class="col-sm-8">
      <%= form_tag nfts_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a NFT"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
<div class="nft-grid">
  <% @nfts.each do |nft| %>
  <div class="nft-card">
    <div class="user">
      <%= link_to user_path(nft.user) do %>
        <h5> <%= nft.user.name %></h5>
      <% end %>
    </div>
    <img id="nft-preview" src="<%= nft.ext_url %>"alt="">
    <div class="nft-info">
      <%= link_to nft_path(nft) do %>
        <h2><%= nft.name %></h2>
      <% end %>
      <div class="desc">
        <p><%= nft.description[0..100] %>(...)</p>
      </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Shortlist
      </button>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Shortlist</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for [@list, @bookmark] do |f| %>
                <%= f.association :lists %>
                <%= f.submit class: 'btn btn-success' %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Add to List</button>
            </div>
          </div>
        </div>
      </div>

      </div>
    <div class="bottom">
      <%= link_to 'Buy NFT', nft_path(nft), class:"btn btn-outline-secondary" %>
      <div>
        <p>❤ <%= rand(0..100) %></p>
        <div class="d-flex">
          <i class="fab fa-ethereum"></i>
          <%= rand(0.1..1).round(3) %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
