<h1 id="title">All NFT's</h1>

  <div class="row justify-content-center">
    <div class="col-sm-8">
      <%= form_tag nfts_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a NFT"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
<div class="nft-grid">
  <% @nfts.each do |nft| %>
  <div class="nft-card">
    <div class="user">
      <%= link_to user_path(nft.user) do %>
        <h5> <%= nft.user.name %></h5>
      <% end %>
      <button type="button" data-toggle="modal" data-target="#modal<%=nft.id%>">
        <h2>+</h2>
      </button>
    </div>
    <div class="modal fade" id="modal<%=nft.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add to shortlist</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [@bookmark] do |f| %>
              <%= f.association :list, collection: List.where(user_id: current_user), selected: :list[0] %>
              <%= f.hidden_field :nft_id, :value => nft.id %>
              <%= f.submit 'Add to list' %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <img id="nft-preview" src="<%= nft.ext_url %>"alt="">
    <div class="nft-info">
      <%= link_to nft_path(nft) do %>
        <h2><%= nft.name %></h2>
      <% end %>
      <div class="desc">
        <p><%= nft.description[0..100] %>(...)</p>
      </div>


      </div>
    <div class="bottom">
      <%= link_to 'Buy NFT', nft_path(nft), class:"btn btn-outline-secondary" %>
      <div>
        <p>❤ <%= rand(0..100) %></p>
        <div class="d-flex">
          <i class="fab fa-ethereum"></i>
          <%= rand(0.1..1).round(3) %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
