<div class="container">
  <%= link_to '< Back to NFTS', nfts_path %>
  <div class="nft-card-show">
    <div class="d-flex justify-content-between">
      <%= link_to user_path(@nft.user_id) do %>
        <h5><%= @nft.user.email %></h5>
      <% end %>
        <h5>❤ <%= rand(0..100) %></h5>
      </div>
    <div class="d-flex">
      <img src="<%= @nft.ext_url %>" alt="" id="nft-foto-show">
      <div class="text-wrapper">
        <div class="price">
        <i id="eth" class="fab fa-ethereum"></i>
        <h1> <%= rand(0.1..1).round(3) %> </h1>
      </div>
        <h1><%= @nft.name %></h1>
        <p><%= @nft.description %></p>
        <div class="button">
          <%= link_to 'Buy NFT', nft_path(@nft), class:"btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
