<div class="container">
  <div class="nft-card-show">
    <div class="d-flex justify-content-between">
        <p>/nfts/<%= @nft.id %></p>
        <p>❤ <%= rand(0..100) %></p>
      </div>
    <div class="d-flex">
      <img src="<%= @nft.ext_url %>" alt="" id="nft-foto-show">
      <div class="text-wrapper">
        <h1><%= @nft.name %></h1>
        <p><%= @nft.description %></p>
      </div>
    </div>
  </div>
</div>
